@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

div:focus{
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//main-container全局样式
.app-main{
  min-height: 100%
}

.filter-container {
  padding-bottom: 10px;
  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

.app-container {
  padding: 20px 40px;
}

//app-container全局
.dialog-footer {
  margin-top: 20px;
}
.pagination-container {
  margin-top: 12px;
}
.text-right {
  text-align: right;
}

//全局按钮
$hover_add: #00C1DF;
$danger_btn: #FF4949;
$btn: #0299CC;

.el-table {
  margin-top: 10px;
}
.common_btn {
  color: $btn;
}
.common_btn:hover {
  color: $hover_add;
}
.info_btn:hover {
  color: $hover_add;
}
.danger_btn {
  color: $danger_btn;
  
}
.danger_btn:hover {
  color: #FF8686;
}
.danger_btn::before {
  width: 1px;
  height: 14px;
  background-color: #8F8F8F;
  display: inline-block;
  content: '';
  margin: 0 5px;
  vertical-align: text-bottom;
}
.space_line {
  color: #8F8F8F;
  margin: 0 5px;
}
.el-button--primary {
  background-color: $btn;
}
.add_btn,
.add_btn:hover,
.add_btn:active,
.add_btn:focus {
  background-color: $btn;
  color: #fff;
  outline: none;
}
.add_btn:hover {
  background-color: rgba($color: $hover_add, $alpha: 1.0);
  color: #fff;
  outline: none;
}
.search_btn,
.search_btn:focus,
.search_btn:hover {
  background-color: #fff;
  border-color: $btn;
  color: $btn;
}
$hover_search: #00C1DF;
.search_btn:hover {
  background-color: rgba($color: $hover_search, $alpha: 0.1);
  border-color: $hover_search;
  color: $btn;
}

.el-table__header-wrapper thead tr th {
  background-color: #F7F8FA;
}

.warn_msg {
  color: red;
  text-align: left;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"]{
  -moz-appearance: textfield;
}